<%= button_to 'Show Configuration & System Status & Balance', {controller: 'escape', action: 'show'}, {method: :get }%>
<% if @error %>
    <h1><font color="red"><p>ERROR</font></p></h1>
    <h2><font color="red"><p><%= @error %></p></font></h2>
<% end %>
<% if @api_key %>
    <h2>API KEY: <%= @api_key %></h2>
    <h2>SYSTEM STATUS: <%= @system_status %></h2>
    <% if @balances %>
        <h2>BALANCES:</h2>
        <% @balances.each do |b| %>
            <p>
                Currency: <%= b["asset"] %> Balance: <%= b["free"] %> Withdraw Wallet: <%= b["wallet"] %> Network: <%= b["network"] %> 
                <% if b["wallet"] != "None" || b["network"] != "None" %>
                    <%= button_to 'Escape', {controller: 'escape', action: 'withdraw'}, {method: :get , params: {currency: b["asset"]}}%>
                <% end %>
            </p>
        <% end %>
    <% end %>
<% end %>
